.pager a {
    cursor: pointer;
}

.project-list ul {
    list-style: none;
}
.project-list > ul {
    margin-left: 0;
}

.current-card {
  text-align: center;
}
.current-card h3 {
  text-align: left;
}
.current-card .about {
  text-align: left;
}
