<h1 ng-hide="isInEditMode()" ng-click="editMode()">"{{menu.name}}"</h1>
<div class="input-append row collapse" ng-show="isInEditMode()">
    <div class="small-10 columns">
        <input type="text" ng-model="menu.name">
    </div>
    <div class="small-1 columns">
        <button class="button prefix" ng-click="save(menu)">ok</button>
    </div>
    <div class="small-1 columns">
        <button class="button prefix" ng-click="viewMode()">cancel</button>
    </div>
</div>
<p>{{menu.about}}</p>
<hr>
<div id="cards-list" ng-show="menu.cards_len">
    <ul data-orbit="">
        <li ng-repeat="card in cards">
        <!-- directive: ni-card card -->
        </li>
    </ul>
</div>
